#container {
  display: flex;

}

.left-container {
  flex: 1;
  height: auto;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.icon img {
  margin: 20px;
  margin-top: 100%;
  width: 8vw;
  max-width: 80px;
}

.card {
  min-width: 150px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px auto;
  overflow: hidden;
  min-height: 300px;
}


.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 24px;
  margin: 0;
}

.card-content p {
  font-size: 16px;
  margin: 10px 0;
}

.card-content a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
}
