.task-done-checkbox {
  width: 24px !important;
  height: 24px !important;
 // background-color: transparent !important;
  border: 2px solid black !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  display: inline-block !important;
  vertical-align: middle !important;
  margin-right: 10px !important;
}

input[type="checkbox"]:checked {
  accent-color: #FFC20A !important;
}

.completed {
  text-decoration: line-through;
}

.task-status {
  display: none;
  color: #22A699;
}

.card-edit {
  min-width: 150px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px auto;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 800px;
}


//.task-done-checkbox:checked + label span {
 // font-weight: bold;
 // text-decoration: line-through;
 // color: #22A699 !important;
//}

//.task-done-checkbox:checked + label span.task-status {
  //display: inline !important;
  //color: #00FF00 !important;
//}

.task-done-checkbox:not(:checked) + label span.task-status {
  display: none !important;
}

.task-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.task-list-item label {
  margin-left: 10px;
}

.btn-pill-custom {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffbdd6 !important;
  color: white !important;
  border: none !important;
}

.btn-pill-custom:hover {
  background-color: #ff88b6 !important;
}

.pill-button {
  display: inline-block !important;
  padding: 12px 24px !important;
  background-color: #22A699 !important;
  color: #000 !important;
  border: none !important;
  border-radius: 50px !important;
  font-family: Arial, sans-serif !important;
  font-size: 16px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
  text-decoration: none !important;
  text-align: center !important;
}

.pill-button:hover {
  background-color: #19947C !important;
}
