.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.2rem 0.7rem;
  background-color: #ECEAFF;
  color: #555a4d;
  border: 1px solid #555a4d;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #c8f4d5;
  color: #555a4d;
}

.btn-primary {
  background-color: #22A699 !important;
  color: white !important;
  font-weight: bold;
  margin-top: 5px;
  border-color: #FFC20A;
  box-shadow: #22A699;
}
.btn-primary:hover {
  background-color: #19947C !important;

}

.btn-primary-option {
  background-color: #FFC20A !important;
  color: black !important;
  font-weight: bold;
  margin-top: 5px;
  border-color: #22A699;
  box-shadow: #ECEAFF;
}
.btn-primary-option:hover {
  background-color: #19947C !important;
  color: white !important;

}

.btn-danger {
  background-color: #ffbdd6 !important;
  color: black !important;

}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pill-input {
  border-radius: 25px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: white;
}

.pill-input:focus {
  border-color: #22A699;
  outline: none;
  box-shadow: 0 0 5px rgba(34, 166, 153, 0.5);
}

.center-label {
  text-align: center;
  display: block;
  width: 100%;
  font-weight: bold;
}
