<body>
  <div class="container">
    <div class="content">
      <div class="todo-list">
      </div>
<%= link_to calendars_url do %>
  <div class="icon">
      <i class="fas fa-calendar">HEY</i>
  </div>
  </div>
<% end %>

  <div class="icon">
  </div>

<%= link_to lists_url do %>
  <div class="icon">hello
  </div>
<% end %>

<%= link_to trophees_url do %>
  <div class="icon">hi
  </div>
<% end %>
      <div class="calendar">
      </div>
    </div>
  </div>
</body>
<footer>

</footer>
