<div class="container w-50 mt-5">
<h1><%= "Classement" %></h1>

  <div>
    <% @users.each do |user| %>
      <div>
        <%= user.name %>
        <% user.my_executed_tasks.each do |task| %>
        <%= task.name %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
