.card-calendar{
  min-width: 150px;
  background-color: #fefff71a;
  box-shadow: 0 2px 4px rgba(98, 100, 50, 0.63);
  border-radius: 20px;
  margin: 20px auto;
    margin-top: 20px;
  max-width: 370px;
  padding: 26px;
  margin-top: 12vh;
}

.scroll{
  overflow-x: auto;
}
